In [1]:
# Q1. == 혹은 != 연산자을 이용해서 True인 명제를 ans1에 넣어봅시다.
ans1 = 5==5

# Q2. > 혹은 < 연산자를 이용해서 False인 명제를 ans2에 넣어봅시다.
ans2 = 3<1

# Q3. >= 혹은 <= 연산자를 이용해서 True인 명제를 ans3에 넣어봅시다.
ans3 = 4>=3

# 위의 세 변수를 출력해서 True, False 여부를 확인해봅시다.
print(ans1, ans2, ans3)

True False True

In [2]:
# 괄호 안에 적절한 명제를 채워 stat1이 True가 되게 해봅시다.
stat1 = 3==3 and 2<4 and (1<3)

# 괄호 안에 적절한 명제를 채워 stat2이 False가 되게 해봅시다.
stat2 = 4>=6 or "apple"=="Apple" or (1==3) 

# 괄호 안에 적절한 명제를 채워 stat3이 True가 되게 해봅시다.
stat3 = not (False)

# 위의 세 변수를 한 문장으로 출력해서 True, False 여부를 확인해봅시다.
print(stat1, stat2, stat3)

True False True

In [3]:
# input()을 이용해서 숫자(정수) 입력을 받고, 변수 num에 이를 넣어봅시다.
num = int(input())

# if-else문을 이용해서 만약 입력받은 수가 홀수면 "(입력받은 수) 홀수입니다."
# 짝수면 "(입력받은 수) 짝수입니다."를 출력해봅시다.
# 괄호는 출력하지 않습니다.
if num % 2 != 0:
    print(f"{num} 홀수입니다.")
else:
    print(f"{num} 짝수입니다.")

5
5 홀수입니다.

In [4]:
# 변수 answer에 수 1~50 중 하나를 넣어봅시다.

answer = 3

# input을 통해 숫자형으로 입력을 받아서 변수 submit에 저장해봅시다.
submit = int(input())

# if-elif-else문으로 Up-Down Game을 구현해봅시다.
# 만약 answer보다 submit이 더 크면 "정답보다 더 큰 수를 입력했습니다."
# 만약 answer보다 submit이 더 작으면 "정답보다 더 작은 수를 입력했습니다."
# 만약 answer와 submit이 같으면 "정답!" 를 출력합니다.
if answer < submit:
    print("정답보다 더 큰 수를 입력했습니다.")
elif answer > submit:
    print("정답보다 더 작은 수를 입력했습니다.")
elif answer == submit:
    print("정답!")

35
정답보다 더 큰 수를 입력했습니다.

In [5]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for i in nums:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [6]:
## 변수 mix에 있는 "쌀"의 개수를 세봅시다.
mix = "쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰쌀씰쌀쌀씰쌀씰"

count_ssal = 0
for i in mix:
    if i == '쌀':
        count_ssal+=1
        
print(count_ssal)

300

In [7]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [8]:
for i in range(5):
    print("I Love Python!")

I Love Python!
I Love Python!
I Love Python!
I Love Python!
I Love Python!

In [9]:
#for-range()를 이용해서 19단을 전부 출력해봅시다!
for i in range(1, 20):
    print("19 *",i, "=",19*i)

19 * 1 = 19
19 * 2 = 38
19 * 3 = 57
19 * 4 = 76
19 * 5 = 95
19 * 6 = 114
19 * 7 = 133
19 * 8 = 152
19 * 9 = 171
19 * 10 = 190
19 * 11 = 209
19 * 12 = 228
19 * 13 = 247
19 * 14 = 266
19 * 15 = 285
19 * 16 = 304
19 * 17 = 323
19 * 18 = 342
19 * 19 = 361

In [10]:
my_list = []
my_list.append(5)
my_list.append(4)
my_list.append(2)
my_list.append(1)
print(my_list)

[5, 4, 2, 1]

In [11]:
my_list = ['banana', 'apple', 'carrot'] # 오름차순, 내림차순은 ascending=False
my_list.sort()
print(my_list) #['apple', 'banana', 'carrot']

my_list2 = [5, 4, 3, 2] 
my_list2.sort()
print(my_list2)

['apple', 'banana', 'carrot']
[2, 3, 4, 5]

In [13]:
my_str = "Impossible"
my_list = ['Apple', 'Banana', 'Chamwae', 'Durian']
var1 = my_list[2]
var2 = my_str[2:]
print(var1)
print(var2)

Chamwae
possible

In [14]:
my_str = "Impossible"
my_list =  ["Apple", "Banana", "Chamwae", "Durian"]
var1 = len(my_str)
var2 = 'Egg' in my_list
print(var1)
print(var2)

10
False

In [16]:
my_dict = {"사과":"apple", "바나나":"banana", "당근":"carrot"}

var1 = my_dict["사과"]
print(var1) # var1의 value 확인

del my_dict["당근"] # key인 당근을 삭제하면 'carrot'도 삭제
print(my_dict)

my_dict["체리"] ="cherry" # 체리 추가
print(my_dict)

apple
{'사과': 'apple', '바나나': 'banana'}
{'사과': 'apple', '바나나': 'banana', '체리': 'cherry'}

In [17]:
my_dict = {}
my_dict = {1:"Integer", 'a':"String", (1,2,3):"Tuple"} # 값이 변하지 않는 Tuple은 key가 될 수 있다.


try:
    #여기에 [1, 2, 3] → "List"의 대응관계를 만들어봅시다.
    my_dict[[1,2,3]] = "List"
    
except TypeError:
    print("List는 Dictionary의 Key가 될 수 없습니다.")

List는 Dictionary의 Key가 될 수 없습니다.

In [18]:
my_list = [1, 3, 5, 7, 9]
var1 = sum(my_list)
var2 = len(my_list)
var3 = sum(my_list)/len(my_list)
print(var1, var2, var3)

25 5 5.0

In [19]:
def plus_print(a, b):
    print(a + b)

def times_return(a, b):
    return(a * b)

plus_print(3, 4)

print(times_return(3, 4))

7
12

In [20]:
my_dict = {'dog':'white', 'cat':'black', 'bird':'orange'}
var1 = my_dict.keys()
var2 = my_dict.values()
print(var1)
print(var2)

dict_keys(['dog', 'cat', 'bird'])
dict_values(['white', 'black', 'orange'])

In [21]:
def solve(a, b):
    return (a * b)

var1 = solve(3, 4)
var2 = solve(3, ['Cham'])
print(var1)
print(var2)

12
['Cham', 'Cham', 'Cham']

In [26]:
import cal


var1 = cal.modelName

var2 = cal.plus(3,4)

var3 = cal.minus(7,2)

## 변수의 값을 확인하는 출력문입니다.
print(var1, var2, var3)

ELI-C2 7 5