In [1]:
import pandas as pd

## 1.

In the cell below, create a DataFrame `fruits` that looks like this:

![](https://i.imgur.com/Ax3pp2A.png)

In [4]:
fruit = pd.DataFrame([[30, 21]], columns=['Apples', 'Bananas'])
fruit

   Apples  Bananas
0      30       21

In [5]:
fruit = pd.DataFrame({'Apples':[30], 'Bananas':[21]})
fruit

   Apples  Bananas
0      30       21

## 2.

Create a dataframe `fruit_sales` that matches the diagram below:

![](https://i.imgur.com/CHPn7ZF.png)

In [6]:
fruit_sales = pd.DataFrame([[35,21], [41, 34]], columns=['Apples', 'Bananas'],
                          index=['2017 Sales', '2018 Sales'])
fruit_sales

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

In [7]:
fruit_sales = pd.DataFrame({'Apples':[35, 41], 'Bananas':[21, 34]}, 
                          index = ['2017 Sales', '2018 Sales'])
fruit_sales

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

## 3.

Create a variable `ingredients` with a Series that looks like:

```
Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object
```

In [12]:
ingredients = pd.Series(['4 cups','1 cup','2 large','1 can'], 
                       index = ['Flour', 'Milk', 'Eggs', 'Spam'], name='Dinner')
ingredients

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

In [ ]:
qtt = ['4 cups','1 cup','2 large','1 can']
items = ['Flour', 'Milk', 'Eggs', 'Spam']